.custom-scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: white;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cfcfcf;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #003c52;
  }
  .portfolio-slide img{
    height: 245px !important;
  }
  .custom-content img{
    max-width: 100% !important;
    height: auto;
  }

  .cmt-col-bgimage-yes:hover .cmt-col-wrapper-bg-layer{
    transform: scale(1.04);
}


@media only screen and (max-width: 485px){
   .tp-caption.head-font{
     white-space: normal !important;
     width: 375px;
     text-align: center !important;
     background: rgba(0, 0, 0, 0.4);
     padding: 15px;
     border-radius: 15px;
    }
    .tp-hidden-caption{
      display: none !important;
    }
  }
